*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


body{
    min-height: 100vh;
    background: linear-gradient(#809FED,#805BED);
    overflow-x: hidden;
}
.box{
    width: 1100px;
    height: 700px;
    position: fixed;
    margin-top: 27px ;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: auto;
    background:rgb(255, 255, 255) ;
    padding: 5px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 0 20px 1px rgba(61, 61, 61, 0.151);
    
}

.box h2{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    color: rgb(155, 73, 231);
}

.box p{
    padding: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(85, 85, 85);
}
.box b{
    color: rgb(63, 100, 170);
}

.bigbox{
    width: 1170px;
    height: 770px;
    position: fixed;
    margin-top: 3% ;
    margin-bottom: auto;
    margin-left: 12%;
    margin-right: auto;
    background-image: linear-gradient(#ffffff,#e6e6e6 );
    padding: 5px;
    border-radius: 40px;
    overflow: hidden;
    
}